<html ng-app>
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/ExpanderCtrl.js"></script>
</head>
<body ng-controller="ExpanderCtrl">

<div ng-repeat="company in companies">
    <div ng-include="'company_element.html'"></div>
</div>
<script type="text/ng-template" id="company_element.html">
    <div class='clearfix'>
        {{company.name}}<i
            ng-class="{'icon-chevron-down': company.expanded != true, 'icon-chevron-up': company.expanded}"
            ng-show='company.group' ng-click='showChildrenFor(company)'/>
    </div>
    <div class='clearfix' ng-show="company.expanded">
        <div ng-repeat='company in company.children' ng-include="'company_element.html'"></div>
    </div>
</script>
</body>
</html>