<html>
<head>
    <script type="text/javascript" src="js\jquery.js"></script>
    <script type="text/javascript" src="bootstrap\js\bootstrap.js"></script>
    <link rel="stylesheet" href="bootstrap\css\bootstrap.css">
    <script type="text/javascript" src="js/angular.js"></script>

    <script type="text/javascript">
        function ListCtrl($scope) {
            $scope.items = [
                { color: "glass", name: "A"},
                { color: "heart", name: "B"},
                { color: "film", name: "C"}
            ]
            $scope.export = function () {
                var table = "";
                $("#table").find("tr").each(function (idx, row) {
                    var cRow = [];
                    $(row).find("td").each(function (idx, cell) {
                        var value = getValue(cell);
                        cRow.push(value);
                    });
                    table += cRow.toString()+"\n";
                });
                console.log(table)
            };
            function getValue(cell) {
                var text = $(cell).text();
                if (text == "") {
                    text = $(cell).find("[data-alt]").attr("data-alt")
                }
                return text;
            }
        }
    </script>
</head>
<body ng-app ng-controller="ListCtrl">
<button ng-click="export()">export</button>
<input type="text" ng-model="search"/>
<table id="table">
    <tr ng-repeat="item in items | filter: search">
        <td><i class="icon-{{item.color}}" data-alt="{{item.color}}"></i></td>
        <td>{{item.name}}</td>
    </tr>
</table>
</body>
</html>