<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
</head>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/ExtendService.js"></script>
<body ng-controller="TestCtrl">
    <button ng-click="click()">ok</button>
</body>
</html>